{% extends 'home/main.html' %}
{% block title%}Contato{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/contato.css' %}">


<div class="cards">
    <div>
        <div class="card">
            <span class="inf"><img src="{% static 'images/telefone.png' %}" alt=""></span>
            <span class="infoculta"><a href="tel:+5512996752498">(12)9675-2498</a></span>
        </div>
        <div class="card">
            <span class="inf"><img src="{% static 'images/github.png' %}" alt=""></span>
            <span class="infoculta"><a href="https://github.com/kinkoof">github.com/kinkoof</a></span>
        </div>
    </div>

    <div>
        <div class="card">
            <span class="inf"><img src="{% static 'images/email.png' %}" alt=""></span>
            <span class="infoculta"><a
                    href="mailto:lucasdesouzaferrari@gmail.com">lucasdesouzaferrari@gmail.com</a></span>
        </div>
        <div class="card">
            <span class="inf"><img src="{% static 'images/linkedin.png' %}" alt=""></span>
            <span class="infoculta"><a
                    href="https://www.linkedin.com/in/lucas-ferrari13/">linkedin.com/in/lucas-ferrari13/</a></span>
        </div>
    </div>
</div>
<footer>
    <div class="footer">
        <a target="_blank" href="https://icons8.com/icon/12623/nova-mensagem">Nova mensagem</a> icon by <a
            target="_blank" href="https://icons8.com">Icons8</a>|
        <a target="_blank" href="https://icons8.com/icon/78382/telefone">Telefone</a> icon by <a target="_blank"
            href="https://icons8.com">Icons8</a>|
        <a target="_blank" href="https://icons8.com/icon/8808/linkedin">LinkedIn</a> icon by <a target="_blank"
            href="https://icons8.com">Icons8</a>|
        <a target="_blank" href="https://icons8.com/icon/62856/github">GitHub</a> icon by <a target="_blank"
            href="https://icons8.com">Icons8</a>|
    </div>
</footer>

<style>
    .bemvindo::after {
        --move1: inset(50% 50% 50% 50%);
        --move2: inset(31% 0 40% 0);
        --move3: inset(39% 0 15% 0);
        --move4: inset(45% 0 40% 0);
        --move5: inset(45% 0 6% 0);
        --move6: inset(14% 0 61% 0);
        clip-path: var(--move1);
        content: 'CONTATO';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
</style>


{% endblock content %}