.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10vw;
  width: 20vw;
  margin-left: 2vw;
  margin-top: 2vw;
  --border-color: linear-gradient(-45deg, #ff00c1, #9600ff, #4900ff, #00b8ff, #00fff9);
  --border-width: .2em;
  --curve-size: 0em;
  --blur: 30px;
  --bg: #222222;
  --color: #afffff;
  color: var(--color);
  /* use position: relative; so that BG is only for .card */
  position: relative;
  isolation: isolate;
  text-transform: uppercase;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .6);
  transition: color 250ms;
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  inset: 0;
}

.card::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.card::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
      /* Top-left */
      var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

      calc(var(--border-width) * .5) var(--border-width),

      /* top-right */
      calc(100% - var(--border-width)) var(--border-width),

      calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

      /* bottom-right 1 */
      calc(100% - calc(var(--border-width) * .5)) calc(100% - var(--border-width)),
      /* bottom-right 2 */
      var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.inf {
  color: #00b8ff;
  font-size: large;
  display: block;
  margin: 0 auto;
}

.infoculta {
  display: none;
  margin: 0 auto;
}

.card:hover .inf {
  animation: desaparecer 0.4s forwards;
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.card:hover .infoculta {
  display: block;
}

a {
  text-decoration: none;
  color: #00fffb;

}

a:hover {
  color: #7e03aa;
  text-shadow: red 0 -1px;
}