img {

    flex: auto;
    border-radius: 3%;
    margin-left: 9vw;
    margin-right: 3vw;
    height: 20vw;
    width: 19vw;
}

.divall {
    display: flex;
    align-items: center;

}

.divtxt {
    padding-left: 1vw;
    padding-right: 5vw;
    flex: auto;
    border-radius: 1vw;
    background-color: #222222;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

hr {
    margin-top: -2vw;
    height: 2px;
    border: 0;
    background-color: #ff00c1;
}


.sobremim {
    font-size: 3vw;


}

.resumo{
    font-size: 25px;
}